.block {
    height: 33.33%
}      

h1 {
    color: navy;
    text-align: center;
}

h2 {
    text-align: center;
color: navy;
}

h3 {
    color: navy;;
    text-align: center;
}

#start{
    margin-left: 47%;
}

#timer {
    position: absolute;
    top: 60px;
    left: 0;
    margin-left: 8px;
    color: navy;
    font-size: 30px;

}


#answers {
margin-left: 33%;


}
/* .mole{
    z-index: 50;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    left: 0;
    right: 0;

} */

/* .mole2 {
    z-index: 50;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    left: 0;
    right: 0;

} */



/* .score {
position: absolute;
    top: 60px;
    right: 0;
    margin-right: 8px;

} */

/* .button1{
    z-index: 50;
    position: fixed;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    left: 0;
    right: 0;

} */


/* body {
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: khaki;
    box-sizing: border-box;
}

.custom-li-css {
    color: aliceblue;
    font-size: xx-large;

} */

/* #begin-button{
    background-color: blue;
} */


/* 
 */